h1, p, div, button, li, ul, body, input, label {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h1 {
  color: #fff;
}

div {
  display: flex;
  flex-direction: column;
}

#container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#code-container {
  color: #fff;
  margin-right: 50px;
  min-width: 500px;
  min-height: 200px;
  max-height: 200px;
}
#code-box {
  margin-top: 10px;
  height: 90%;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #258c9e;
  color: black;
  font-size: 14px;
}

body {
  text-align: center;
  background-color: #2eb9d2;
}

#todoList {
  width: 451px;
}

label {
  color: #fff;
  align-items: baseline;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

#new-todo {
  margin-top: 10px;
  width: 100%;
}

input {
  border: 1px solid #258c9e;
  border-radius: 3px;
  height: 30px;
  outline: none;
}

li {
  display: flex;
}

input {
  text-align: center
}

.buttons {
  cursor: pointer;
  margin-top: 10px;
  padding-top: 5px;
  border: none;
  border-radius: 6px;
  text-align: center;
  padding-bottom: 5px;
  background-color: #258c9e;
  width: 50%;
  color: #fff;
}

.buttons:hover {
  transition: 0.4s;
  background-color: #1a6673;
}

#buttons {
  display: flex;
  align-items: center;
}

.single-item {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #258c9e;
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: 100%;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  min-height: 50px;
}

.delete {
  margin-left: 1px;
  background-color: #258c9e;
  border: none;
  height: 100%;
  padding: 5px;
  margin-right: 5px;
  border-radius: 6px;
  color: #fff;
}
footer {
  margin-top: 15%;
}
footer a {
  transition: 0.4s;
  text-decoration: none;
  padding: 8px;
  margin: 0px 5px;
  border: none;
  border-radius: 6px;
  text-align: center;
  background-color: #258c9e;
  color: #fff;
}
footer a:hover {
  transition: 0.4s;
  background-color: #1a6673;
}
